In [1]:
# imports 
import pandas as pd

In [2]:
table = pd.read_html('http://www.fasttrack.co.uk/league-tables/tech-track-100/league-table/' , header=0, index_col=0)[0]
table.head()

,Company,Location,Year end,Annual sales rise over 3 years,Latest sales £000s,Staff,Comment
Rank,,,,,,,
1,Plan.comCommunications provider,Isle of Man,Sep-17,364.38%,"*35,418",90,About 650 partners use its telecoms platform t...
2,PsiOxusBiotechnology developer,Oxfordshire,Dec-17,311.67%,53136,54,Received a $15m milestone payment from its dev...
3,CensorNetCloud security software developer,Basingstoke,Dec-17,210.17%,"*7,535",77,"Has more than 4,000 customers, including McDon..."
4,thoughtonomyAutomation software developer,East London,May-18,205.20%,"*16,916",100,It sells to 28 countries and 50% of revenue is...
5,PerkboxEmployee engagement services,Central London,Dec-17,204.12%,"*34,700",200,Acquired software platform Loyalty Bay for an ...

In [3]:
# cleaning the data

# removing unwanted symbols in the Latest sales column
table['Latest sales £000s'] = table['Latest sales £000s'].str.replace('*', '').str.replace('†', '').str.replace(',','')

In [5]:
# splitting the company name from the description
companies = table['Company']

# function for reversing the string, splitting it on the first uppercase letter, reversing it into the original order
# and then trimming the leading whitespace of the string (if there is one) 

def splitter(company):
    reverse_string = company[::-1]
    
    for char in reverse_string:
        if char.isupper():
            reverse_string = reverse_string.replace(char, char+" ")
            break
    return reverse_string[::-1].lstrip().split(" ", 1)

companies_cleaned = []
for company in companies:
    companies_cleaned.append(splitter(company))

# and finally splitting the string into a list of company name and description

Company = []
Description = []
for i, el in enumerate(companies_cleaned):
    Company.append(companies_cleaned[i][0])
    Description.append(companies_cleaned[i][1])

In [6]:
# inserting the values into the table
table['Company'] = Company
table.insert(1, 'Description', Description)

In [7]:
table.head()

,Company,Description,Location,Year end,Annual sales rise over 3 years,Latest sales £000s,Staff,Comment
Rank,,,,,,,,
1,Plan.com,Communications provider,Isle of Man,Sep-17,364.38%,35418,90,About 650 partners use its telecoms platform t...
2,PsiOxus,Biotechnology developer,Oxfordshire,Dec-17,311.67%,53136,54,Received a $15m milestone payment from its dev...
3,CensorNet,Cloud security software developer,Basingstoke,Dec-17,210.17%,7535,77,"Has more than 4,000 customers, including McDon..."
4,thoughtonomy,Automation software developer,East London,May-18,205.20%,16916,100,It sells to 28 countries and 50% of revenue is...
5,Perkbox,Employee engagement services,Central London,Dec-17,204.12%,34700,200,Acquired software platform Loyalty Bay for an ...